shutdown {
  background-image: url("file://shutdown-normal.png");
}

shutdown-active {
  background-image: url("file://shutdown-active.png");
}

QPushButton
{
  background-image: url('THEMEDIR/button.png') 0 0 0 0;
  background-repeat: no-repeat;
  border: 0 0 0 0;
  padding: 0px;
  margin: 0px;
  width: 214px;
  height: 26px;
}

QPushButton:hover
{
  background-image: url('THEMEDIR/button-hover.png') 0 0 0 0;
  background-repeat: no-repeat;
  border: 0 0 0 0;
  padding: 0px;
  margin: 0px;
  width: 214px;
  height: 26px;
}

#panel
{
  background-color: #FFFFFF;
  margin: 5px;
  border-style: solid;
  border-width: 4px;
  border-radius: 6px;
  border-color: rgb(221, 226, 229);
}

#shutdown_applet
{
}

